.App {
  text-align: center;
  overflow: hidden;
  color: #333333;
  padding-top: 16px;
}

.row {
  display: flex;
  justify-content: center;
}

.grid {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background-color: gray;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  z-index: 2;
}

.cell {
  z-index: 2;
  border-radius: 3px;
  border: 1px solid gray;
  background-color: lightgray;
  margin: 1px;
  width: 80px;
  height: 80px;
  transition: background-color 0.1s ease-in-out;
}

.tile {
  transform: translate(0, 0);
  width: 80.5px;
  height: 80.5px;
  position: absolute;
  background-color: aqua;
  margin: 3.5px;
  border-radius: 2px;
  transition: left 0.2s, top 0.2s;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 20;
  animation: tile-animation 0.3s;
}

@keyframes tile-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (min-width: 1024px) {

  .App {
    transform: scale(2.0);
    transform-origin: top;
  }

}

.score {
  background: gray;
  width: 100px;
  border-radius: 4px;
  color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.score-container {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-end;
}

.btn {
  border-radius: 3px;
  outline: 0;
  border: 0px;
  padding: 8px;
  font-size: 16px;
  color: #fff;
  background: darkkhaki;
  cursor: pointer;
  height: 48px;
  margin-top: 4px
}

.title {
  font-size: 48px;
  color: darkkhaki;
}